html{
  height: 100%;
}
body{
  font-size: 12px;
  font-family: "Microsoft Yahei", 微软雅黑, Tahoma, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #333;
  height: 100%;
}
h1, h2, h3, h4, h5{
  margin: 0;
}
pre{
  background: #fff;
}
label{
  font-weight: normal;
}
a:hover{
  color: #00c1e0;
  text-decoration: none;
}
ul, ol{
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
pre{ border: 0;}
input:focus{
  border-color: #e3e3e3;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.color-green{
  color: #00c1e0;
}
.color-red{
  color: #ef606e;
}
.padding-right-0{
  padding-right: 0 !important;
}
.main-container{
  padding-top: 60px;
  width: 100%;
  height: 100%;
}
.common-btn{
  color: #fff;
  background: #00c1e0;
}
.common-btn span{
  margin-right: 6px;
  font-size: 12px;
}
.common-btn .icon-plus{ margin-right: 0; }
.top-menu{ padding: 22px 15px 18px; }
.title{
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  line-height: 50px;
  border-bottom: 1px solid #e6e6e6;
}
.title-img{
  position: relative;
  top: -2px;
  margin-right: 6px;
  height: 30px;
  width: 30px;
}
.dropdown-menu{
  left: auto;
  right: 20px;
  min-width: 100px;
}
.message{
  color: #00c1e0;
}
.error,
.red{ color: #a94442;}
.success{ color: #3c763d; }
.sys-alert{
  position: absolute;
  right: 15px;
  margin-bottom: 7px;
  padding: 15px;
  width: 340px;
  line-height: 24px;
  overflow: hidden;
  z-index: 10000;
}
.alert-dismissible .close{
  top: 2px;
  right: 15px;
}
.form-control{
  height: 30px;
  font-size: 12px;
  border-radius: 2px;
}
.form-group .error{ position: absolute; }
.btn{
  height: 30px;
  border-radius: 2px;
  font-size: 12px;
}
.paddingRight-15{ padding-right: 15px; }
.margint-left-20{ margin-left: 20px; }
.login-modal{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9;
  margin-left: -275px;
  margin-top: -200px;
  width: 550px;
  height: 460px;
  color: #efefef;
  background: #1c5660;
}
.login-modal .login-header{
  padding: 20px 0;
  text-align: center;
}
.login-modal h2{
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  text-align: center;
}
.login-modal .login-role-container{
  margin: 10px auto;
  width: 300px;
  overflow: hidden;
}
.login-modal .login-role-container li{
  float: left;
  width: 50%;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
  border-bottom: 3px solid #eee;
  cursor: pointer;
}
.login-modal .login-role-container .active{
  border-bottom-color: #00c1e0;
}
.login-modal .login-form{
  position: relative;
  margin: 0 auto 20px;
  width: 300px;
}
.login-form-group{
  position: relative;
  margin-bottom: 20px;
  padding-top: 10px;
  border-bottom: 1px solid #e6e6e6;
}
.login-modal .login-form .error{
  position: absolute;
  bottom: -24px;
}
.login-form-group:after{
  content: ' ';
  clear: both;
}
.login-form-group-left{
  float: left;
  display: block;
  margin-bottom: 0;
  padding-left: 20px;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.login-form-group-right{
  margin-left: 30px;
}
.login-form-group-right .form-control{
  position: relative;
  color: #fff;
  box-shadow: none;
  border-color: transparent;
  background-color: transparent;
}
.login-form-group-right .form-control:focus{
  box-shadow: none;
}
.login-form-group-right .validate-code{
  position: absolute;
  width: 100px;
  height: 30px;
  top: 6px;
  right: 6px;
  cursor: pointer;
}
.login-modal .login-footer{
  text-align: center;
}
.sys-form-group{
  position: relative;
  margin-bottom: 20px;
  line-height: 30px;
}
.sys-form-group:after{
  display: table;
  content: ' ';
  clear: both;
}
.sys-form-group-left{
  float: left;
  width: 80px;
}
.sys-form-group .control-label{
  padding-top: 0;
  height: 30px;
  line-height: 30px;
  text-align: left;
  font-weight: normal;
}
.sys-form-group-right{
  margin-left: 80px;
}
.sys-form-group-right .radio-inline,
.sys-form-group-right .checkbox-inline{
  padding-top: 0;
}
.sys-form-group .error{
  position: absolute;
  line-height: 20px;
  z-index: 2;
}
.radio-inline input,
.checkbox-inline input{
  margin-top: 10px;
}
/*
 * 头部导航条
 */
.top-dropdown-menu{
  right: 0;
  left: auto;
}
#top-nav{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 20px;
  height: 60px;
  min-width: 1200px;
  color: #fff;
  background: #00c1e0;
}
#top-nav h1 a{
  display: block;
  padding-top: 6px;
  height: 60px;
}
#top-nav .console-link{
  display: block;
  float: left;
  margin-right: 20px;
  height: 60px;
  line-height: 60px;
  color: #fff;
}
#top-nav .user-info .dropdown-toggle{
  font-size: 14px;
  padding: 0 20px;
}
#top-nav .user-info .dropdown-menu{
  font-size: 12px;
}
#top-nav .user-info:hover{
  cursor: pointer;
  background: #00b1e0;
}
#top-nav .user-info .user{
  display: inline-block;
  height: 60px;
  line-height: 60px;
}
#top-nav .dropdown-menu{
  right: 0;
  margin: 0;
}
#top-nav .dropdown-menu a{
  display: block;
  line-height: 30px;
  height: 30px;
  padding: 0 20px;
  font-size: 12px;
}
#top-nav .dropdown-menu a:hover{
  color: #fff;
  background: #00c1e0;
}
/*
 * 左侧导航条
 */
.main-wrapper{
  width: 100%;
  height: 100%;
  min-width: 1200px;
}
.sys-sub-menu {
  float: left;
  width: 140px;
  height: 100%;
  border-right: 1px solid #ccc;
  overflow: auto;
}
.sys-sub-menu h3 {
  padding-left: 15px;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  font-style: normal;
  background: #e6e6e6;
}
.sys-sub-menu a {
  display: block;
  padding-left: 15px;
  height: 36px;
  line-height: 36px;
  color: #666;
  background: #f7f7f7;
}
.sys-sub-menu a.select {
  color: #fff;
  background: #00c1e0;
}
.sys-sub-menu .menu-dropdown {

}
.sys-sub-menu .menu-dropdown-toggle {
  position: relative;
  padding-left: 15px;
  height: 36px;
  border-top: 1px solid #ccc;
  line-height: 36px;
  background-color: #e5e5e5;
}
.sys-sub-menu .menu-dropdown-toggle i {
  position: absolute;
  right: 8px;
  font-size: 14px;
}
.sys-sub-menu .menu-dropdown-list a {
  padding-left: 30px;
  text-decoration: none;
}
.sys-sub-menu .menu-list-hide {
  display: none;
}
.ngGrid{ line-height: 24px; }
.ngTopPanel{
  border-top: 1px solid #d4d4d4;
  background: #fff;
}
.ngHeaderText{
  padding: 0;
  line-height: 40px;
}
.ngGrid .dropdown{
  width: 80px;
}
/*
 * 分页
 */
.sys-pagination{
  padding: 15px 15px 0;
  overflow: hidden;
}
.sys-pagination-detail{
}
.sys-pagination-detail span{
  display: block;
  margin-right: 8px;
  padding: 4px 8px;
  border: 1px solid #ccc;
  color: #666;
  cursor: pointer;
}
.sys-pagination-detail .current span{
  border: 1px solid #00c1e0;
  color: #fff;
  background: #00c1e0;
}
.sys-pagination-detail .ellipsis span{
  border: 0;
  cursor: auto;
}
.sys-pagination-tool{
  line-height: 30px;
}
.sys-pagination-tool .page-num{
  margin-right: 28px;
}
.sys-pagination-tool .page-num select{
  height: 30px;
}
.sys-pagination-tool .current-page{
  color: #00c1e0;
  font-style: normal;
}
.sys-pager .disabled span{
  color: #999;
  border: 1px solid #ddd;
  cursor: auto;
}
/*
 * 搜索框
 */

.sys-search-box > div{
  float: left;
}
.sys-search-box .control-label{
  padding: 0 15px;
  line-height: 34px;
  font-weight: normal;
}
.sys-search-box .control-label select{
  width: 105px;
}
.sys-search-box .value-box .input-group{
  width: 160px;
}
.sys-search-box .value-box .input-group .btn{
  padding-left: 0;
  padding-right: 0;
  width: 30px;
  text-align: center;
}
.sys-search-box .btn-cancle{
  border-radius: 0;
}
.sys-search-box .search-button{
  float: left;
  margin-left: 15px;
  color: #fff;
  background: #00c1e0;
}
.sys-search-list .value-box select,
.sys-search-list .value-box input{
  width: 160px;
}
.uib-button-bar .btn-group .uib-clear{
  display: none;
}
.uib-datepicker-popup.dropdown-menu{ width: 262px; }
.btn-default.active .text-info,
.btn-default:active .text-info,
.open > .dropdown-toggle.btn-default .text-info{
  color: #fff;
}
.uib-daypicker:focus{ outline: none; }
.uib-monthpicker,
.uib-yearpicker{
  width: 100%;
}
/*
 * 对话框
 */
.sys-dialog-wrapper{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  height: 100%;
  background: rgba(0, 0, 0, .3);
  overflow: auto;
}
.sys-center-dialog{
  position: relative;
  top: 50%;
  left: 50%;
  z-index: 100;
  margin-bottom: 20px;
  padding-bottom: 45px;
  width: 500px;
  background: #fff;
}
.sys-dialog-wrapper-right{
  background: none;
}
.sys-right-dialog{
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  width: 360px;
  overflow: auto;
  background: #fff;
  border-left: 1px solid rgb(204, 204, 204);
  box-shadow: rgba(0, 0, 0, 0.3) -1px 0 10px;
}
.sys-dialog-title{
  position: relative;
  padding: 0 20px;
  border-bottom: 1px solid #ccc;
}
.sys-dialog-title h3{
  font-size: 14px;
  line-height: 50px;
  font-weight: normal;
}
.sys-dialog-title .close-dialog{
  position: absolute;
  top: 0;
  right: 5px;
  width: 50px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}
.sys-dialog-content{
  margin-bottom: 20px;
  padding: 20px 40px;
}
.sys-right-dialog .sys-dialog-content{
  padding: 20px;
}
.sys-right-dialog .sys-dialog-content .pull-left,
.sys-right-dialog .sys-dialog-content .pull-right{
  word-break: break-all;
  word-wrap: break-word;
  line-height: 32px;
}
.sys-dialog-footer{
  position: absolute;
  bottom: 0;
  padding: 10px 15px;
  width: 100%;
  text-align: center;
  background: #eee;
}
.sys-dialog-footer button:first-child{ margin-right: 30px; }
/*
 * 表格
 */

.gridStyle{
  width: 100%;
}
.ngViewport{
  overflow: inherit;
}
.ngCell{
  overflow: inherit;
  border-bottom: 1px solid #ddd;
}
.ngRow:last-of-type{
  border-bottom: none;
}
.ngRow:first-of-type{
  border-bottom: 1px solid #ddd;
}
.ngCellText{
  padding: 0 10px;
  line-height: 24px;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
  overflow: inherit;
}
.ngHeaderCell{
  padding: 0 10px;
  border-bottom: 1px solid #d4d4d4;
}
.ng-cell-box{
  padding: 0 15px;
  line-height: 24px;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
  overflow: inherit;
}
.grid-no-data{
  margin: 10px auto;
  width: 400px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #f5f5f5;
}
.operate-dropdown .dropdown-toggle{
  padding: 0 8px;
  height: 24px;
  line-height: 24px;
}
.operate-dropdown li{
  padding: 0 20px;
  line-height: 40px;
  font-size: 12px;
}
.operate-dropdown li:hover,
.operate-dropdown li:hover a{
  color: #fff;
  background-color: #00c1e0;
}
.operate-dropdown li > a{
  margin-left: -20px;
  margin-right: -20px;
  line-height: 40px;
}
.sys-operation{
  margin-bottom: 20px;
}
.gridSpan{
  display: inline-block;
  padding: 0 6px;
  line-height: 24px;
  height: 24px;
}
.ngRow.even{
  background: #fff;
}
.ngRow.odd{
  background: #f7f7f7;
}
.ngRow.selected{
  background-color: #c9dde1;
}
.dropdown-toggle .caret{
  margin-left: 6px;
}
#top-nav .caret{
  border-top-color: #fff;
}
/*
 * main content
 */
.main-content{
  margin-left: 176px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.main-content-toggle{
  margin-left: 250px;
}
.container-fluid{
  padding: 0;
}
.message-list{
  padding-top: 20px;
  padding-left: 15px;
}
.message-list li{
  height: 30px;
  line-height: 30px;
}
.message-list .left-text{
  width: 100px;
  padding-right: 15px;
  text-align: right;
}
.message-list .right-info{
  color: #666;
}
.message-list .change-pass{
  display: inline-block;
  padding-left: 16px;
  text-align: right;
  color: #999;
  cursor: pointer;
}
.step-map-list{
  position: relative;
  margin-top: 22px;
  margin-bottom: 100px;
  height: 32px;
}
.step-map-list .step-map-item{
  position: absolute;
  z-index: 3;
  padding: 0 15px;
  width: 130px;
  height: 32px;
  font-size: 12px;
  background: #fff;
}
.step-map-list .step-map-item span{
  display: inline-block;
  margin-right: 15px;
  width: 32px;
  height: 32px;
  border: 1px solid #00c1e0;
  border-radius: 100%;
  text-align: center;
  line-height: 32px;
  color: #00c1e0;
}
.step-map-list .step-map-item .current{
  color: #fff;
  background: #00c1e0;
}
.step-map-list .line{
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  z-index: 2;
  margin: 0;
  border-color: #ccc;
}
.step-map-item.step-map-one{
  left: 0;
}
.step-map-item.step-map-three{
  right: 0;
}
.step-map-item.step-map-two{
  left: 50%;
  margin-left: -65px;
}
.validate-type{
  margin: 0 auto;
  padding: 30px 30px 40px;
  width: 600px;
  height: 110px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all ease-in-out .3s;
}
.validate-type:hover{
  background: #f0f0f0;
}
.validate-type .pull-left span{
  display: block;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border: 1px solid #00c1e0;
  border-radius: 100%;
  color: #00c1e0;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
}
.validate-type .pull-left dt{
  font-size: 14px;
  line-height: 30px;
  color: #333;
  font-weight: normal;
}
.validate-type .pull-right{
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  color: #ccc;
}
.user-password .step-one,
.user-password .step-two{
  margin: 0 auto;
  width: 360px;
}
.user-password .step-one .control-label,
.user-password .step-two .control-label{
  font-size: 12px;
  font-weight: normal;
}
.validate-code input{ width: 200px; }
.validate-code button{ width: 130px; }
.user-password .step-one .common-btn,
.user-password .step-two .common-btn{ width: 100%; }
.line-bar{
  display: inline-block;
  margin-right: 6px;
  height: 6px;
  width: 42px;
  border-radius: 8px;
  background: #ccc;
}
.active-line-bar{ background: #00c1e0; }
.step-three{
  margin: 0 auto;
  width: 120px;
  text-align: center;
}
.step-three .success{
  margin-bottom: 20px;
  font-size: 14px;
}
.step-three .info{
  margin-bottom: 20px;
}
.account-billings{
  padding: 0 15px;
  width: 480px;
}
.account-billings li{ padding-bottom: 10px; }
.account-billings span{
  display: inline-block;
  width: 120px;
  padding-right: 20px;
  text-align: right;
}
form[name="rechargeForm"],
form[name="presentForm"]{
  padding-top: 15px;
  padding-left: 15px;
  width: 500px;
}
form[name="rechargeForm"] .btn,
form[name="presentForm"] .btn{
  margin: 0 15px;
}
.form-control-static{ line-height: 30px; }
.search-container{
  padding: 15px 0;
}
.search-container .common-btn{ margin-left: 20px; }
.common-padding{ padding: 0 15px; }
.resource .resource-title{
  display: block;
}
.resource .resource-band{
  display: block;
}
.order-header{
  padding-bottom: 15px;
}
.order-header-title{
  height: 40px;
  line-height: 40px;
}
.order-header-button .btn{ margin-right: 15px; }
.hover-dropdown{
  position: relative;
}
.hover-dropdown:hover .hover-dropdown-menu{ display: block; }
.hover-dropdown-toggle{
  height: 30px;
  line-height: 30px;
}
.hover-dropdown-menu{
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 99;
  padding: 4px 15px;
  width: 180px;
  border: 1px solid #e3e3e3;
  background: #fff;
}
.bill-container{
  margin: 15px;
}
.bill-container-left,
.bill-container-right{
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 15px;
  border: 1px solid #e3e3e3;
}
.bill-container .bill-title{
  margin-bottom: 6px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}
.bill-container li{
  line-height: 30px;
}
.bill-container .left-text{
  display: inline-block;
  width: 25%;
}
.invoice-dialog-container{
  margin-top: 15px;
  border-bottom: 1px solid #e3e3e3;
}
.sys-dialog-content .invoice-dialog-container:last-of-type{ border-bottom: none; }
.invoice-dialog-container .button{
  padding-top: 10px;
  text-align: right;
}
.invoice-dialog-container .button .btn{
  height: 30px;
  background: #00c1e0;
  font-size: 12px;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  line-height: 30px;
  padding: 0 10px;
  margin-left: 15px;
}
.invoice-dialog-title{
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}
.order-dialog-detail li{
  line-height: 32px;
}
.invoice-dialog-content li{
  line-height: 30px;
}
.invoice-dialog-content .pull-right{
  max-width: 50%;
}
.slaGrid,
.invoiceGrid{
  margin-top: 15px;
}
.user-container{
  border-bottom: 1px solid #e3e3e3;
}
.form-title{
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}
.search-user-container .message{ padding-bottom: 15px; }
form[name="searchUser"] .control-label{ padding-top: 0; }
.policy-list > li{
  padding-bottom: 15px;
}
.proxy-message{
  float: left;
  line-height: 30px;
}
.proxy-message p{
  padding-left: 15px;
}
/*workorder detail*/

#zdetail{
  width: 950px;
  margin-bottom: 30px;
}
#zdetail div span{
  display: inline-block;
  width: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.zwoinfo{
  height: 200px;
  width: 100%;
  margin-left: 30px;
  padding: 30px 20px 30px 20px;
  background: rgb(240, 248, 250);
  border: solid 1px lightgray;
}
.zwoinfo div{
  height: 35px;
  width: 100%;
}
.zwoinfo div span{
  height: 35px;
  width: 100%;
  line-height: 35px;
}
.zrecordinfo{
  height: auto;
  width: 100%;
  margin: 30px 0 0 30px;
}
.zrecordtitle{
  height: 34px;
  padding: 8px;
  border: solid 1px lightgray;
  border-bottom: none;
}
#zrecorddiv{
  width: 100%;
  height: auto;
  padding: 30px 20px 30px 20px;
  border: solid 1px lightgray;
  /*overflow-y: auto;*/
}
.zrecorddata{
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  margin-top: 15px;
}
.zinput{
  margin-top: 30px;
}
.zinput input{
  width: 100%;
  height: 120px;
}
.zl{
  position: relative;
}
.zlp{
  float: left;
}
.zlpspan{
  position: absolute;
  left: 0px;
  width: 40px;
  height: 30px;
  overflow: hidden;
  text-align: left;
  line-height: 12px;
}
.zr{
  position: relative;
}
.zrp{
  position: absolute;
  top: 0px;
  right: -240px;
}
#zdetail div span{
  display: inline-block;
  width: 280px;
}
.zprocess{
  width: 100%;
  height: 60px;
  margin: 30px 0 0 30px;
}
.zprocess div{
  float: left;
  width: 298px;
  height: 30px;
  margin-right: 2px;
  line-height: 0px;
  text-align: center;
  color: #ffffff;
}
.znoprocessed{
  background: rgb(215, 215, 215);
}
.zprocessed{
  background: rgb(0, 193, 224);
}
.zldialog{
  position: relative;
  width: 790px;
  height: 110px;
  margin: 0 auto;
  border: solid 1px lightgray;
  text-align: left;
}
.zlwords{
  position: absolute;
  left: 10px;
  top: 10px;
  display: -webkit-box;
  overflow: hidden;
  width: 750px;
  height: 42px;
  line-height: 20px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}
.zls_t{
  position: absolute;
  left: 10px;
  bottom: 20px;
  display: block;
  height: 30px;
  line-height: 20px;
  color: lightgray;
}
.zrdialog{
  position: relative;
  width: 790px;
  height: 110px;
  margin: 0 auto;
  border: solid 1px lightgray;
  text-align: right;
  background: #e5fcff;
}
.zrwords{
  position: absolute;
  right: 10px;
  top: 10px;
  display: -webkit-box;
  width: 750px;
  height: 42px;
  overflow: hidden;
  line-height: 20px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}
.zrs_t{
  position: absolute;
  right: 10px;
  bottom: 20px;
  display: block;
  height: 30px;
  line-height: 20px;
  color: lightgray;
}
.zhand{
  width: 100%;
  height: 50px;
  margin-top: 8px;
}
.zhand div{
  float: left;
  margin-right: 20px;
}
.postageCalculatorDescription{
  width: 98%;
  margin: 20px auto;
  padding: 15px 10px;
  border: 1px solid #00c1e0;
  line-height: 2;
  background: #b2ecf6;
  border-radius: 4px;
  font-size: 12px;
}
.postageCalculator .nav-tabs{
  margin-bottom: 20px;
  border-bottom: 1px solid #00c1e0 !important;
}
.postageCalculator li{
  text-align: center;
}
.postageCalculator .active a{
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 3px solid #00c1e0 !important;
  background: none !important;
  color: #00c1e0 !important;
}
.postageCalculator .active a:hover{
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 3px solid #00c1e0 !important;
  background: none !important;
  color: #00c1e0 !important;
}
.postageCalculator li a:hover{
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid #00c1e0 !important;
  background: none !important;
}
.postageCalculator li a{
  height: 40px;
  padding: 0px 20px !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  line-height: 2.6;
  font-size: 14px;
  color: #000 !important;
}
.postageCalculator .tctable table, .postageCalculator .tcatable table{
  width: 100%;
  border-bottom: 1px solid #d4d4d4;
  cursor: pointer;
}
.postageCalculator .tctable table tr, .tcatable table tr{
  height: 40px;
}
.postageCalculator .tctable table thead tr, .tcatable table thead tr{
  /*background: #eaeaea;*/
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
}
.postageCalculator .tctable table tbody tr:nth-child(even), .tcatable table tbody tr:nth-child(even){
  background: #f7f7f7;
}
.postageCalculator .tctable table tr th:nth-child(1), .postageCalculator .tctable table tr td:nth-child(1){
  width: 9%;
}
.postageCalculator .tctable table tr th, .postageCalculator .tctable table tr td{
  width: 7%;
  border-right: 1px solid #d4d4d4;
  text-indent: 10px;
  font-weight: lighter;
}
.postageCalculator .tcatable table tr th:nth-child(1), .postageCalculator .tcatable table tr td:nth-child(1){
  width: 9%;
}
.postageCalculator .tcatable table tr th, .postageCalculator .tcatable table tr td{
  width: 7%;
  border-right: 1px solid #d4d4d4;
  text-indent: 10px;
  font-weight: lighter;
}
.postageCalculator .tcatable td:last-child a{
  background: none !important;
  border: none !important;
  color: #000000 !important;
  cursor: pointer;
}
.postageCalculator .tcatable td:last-child a:hover{
  background: none !important;
  border: none !important;
  color: #000000 !important;
}
.postageCalculator .glyphicon-pencil{
  font-size: 12px;
  text-indent: 10px;
  color: #c9c9c9;
}
.postageCalculator table tr td:hover .glyphicon-pencil{
  color: #666;
}
.postageCalculator .CHINA2ABROADShow .ABROAD{
  display: none;
  visibility: hidden
}
.postageCalculator .ABROADShow .CHINA2ABROAD{
  display: none;
  visibility: hidden
}
.dropdown-menu{
  left: auto;
  right: 20px;
  min-width: 140px;
}
.sys-linkage-list li{
  cursor: pointer;
  padding: 0 20px;
}
.sys-linkage-list li:hover{
  background: #00c1e0;
  color: #fff;
}
.postageCalculator .CHINA2ABROADShow .CHINA2ABROAD{
  background: none;
}
.postageCalculator .ABROADShow .ABROAD{
  background: none;
}
.postageCalculator .gridStyle{
  /*height: 100%!important;*/
}
.postageCalculator .ngViewport{
  height: 100% !important;
}
.ticketList .ngCellText{
  overflow: hidden;
}
.ticketList .ngCellText span{
  white-space: nowrap;
}
#zdetail .zprocess div{
  background: #d7d7d7;
}
#zdetail .zprocessed1,
#zdetail .zprocessed2,
#zdetail .zprocessed3,
#zdetail .zprocessed4{
  background: #00c1e0 !important;
}
/*-- 第一种箭头 #00c1e0--*/
.zprocess .headStatus{
  position: relative;
  width: 220px;
  border-width: 15px 0px;
  border-style: solid;
  border-color: #d7d7d7 transparent;
}
.zprocess .headStatus:before{
  position: absolute;
  top: -15px;
  left: 220px;
  width: 0;
  height: 0;
  border-width: 15px 16px;
  border-style: solid;
  border-color: transparent transparent transparent #d7d7d7;
  content: "";
}
/*-- 第二种箭头 --*/
.zprocess .zprStatus{
  position: relative;
  width: 220px;
  margin-left: 21px;
  border-width: 15px 0px;
  border-style: solid;
  border-color: #d7d7d7 transparent;
}
.zprocess .zprStatus:before{
  position: absolute;
  top: -15px;
  left: 220px;
  width: 0;
  height: 0;
  border-width: 15px 16px;
  border-style: solid;
  border-color: transparent transparent transparent #d7d7d7;
  content: "";
}
.zprocess .zprStatus:after{
  position: absolute;
  top: -15px;
  left: -16px;
  width: 0;
  height: 0;
  border-width: 15px 0px 15px 16px;
  border-style: solid;
  border-color: #d7d7d7 #d7d7d7 #d7d7d7 transparent;
  content: "";
}
/*-- 第三种箭头 --*/
.zprocess .footStatus{
  position: relative;
  width: 219px;
  margin-left: 21px;
  border-width: 15px 0px;
  border-style: solid;
  border-color: #d7d7d7 transparent;
}
.zprocess .footStatus:after{
  position: absolute;
  top: -15px;
  left: -16px;
  width: 0;
  height: 0;
  border-width: 15px 0px 15px 16px;
  border-style: solid;
  border-color: #d7d7d7 #d7d7d7 #d7d7d7 transparent;
  content: "";
}
/*-- 第一种箭头改变后 --*/
.zprocess .zprocessed1{
  border-color: #00c1e0 transparent;
}
.zprocess .zprocessed1:before{
  border-color: transparent transparent transparent #00c1e0;
}
/*-- 第二种箭头改变后 --*/
.zprocess .zprocessed2,
.zprocess .zprocessed3{
  border-color: #00c1e0 transparent;
}
.zprocess .zprocessed2:before,
.zprocess .zprocessed3:before{
  border-color: transparent transparent transparent #00c1e0;
}
.zprocess .zprocessed2:after,
.zprocess .zprocessed3:after{
  border-color: #00c1e0 #00c1e0 #00c1e0 transparent;
}
/*-- 第三种箭头改变后 --*/
.zprocess .zprocessed4{
  border-color: #00c1e0 transparent;
}
.zprocess .zprocessed4:before{
  border-color: transparent transparent transparent #00c1e0;
}
.zprocess .zprocessed4:after{
  border-color: #00c1e0 #00c1e0 #00c1e0 transparent;
}
#zdetail .zhand label{
  /*display: block;*/
  /*float: left;*/
  /*width: 78px;*/
  /*height: 28px;*/
  /*text-align: center;*/
  cursor: pointer;
  font-weight: 100;
  /*border: 1px solid #cccccc;*/
  /*line-height: 2;*/
}
#zdetail .zhand input{
  margin-top: 2px;
}
/*
 * 重置select
 */
.sys-select-container{
  position: relative;
}
.sys-select-container select{
  position: relative;
  z-index: 3;
  padding-right: 18px;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 1px solid #ccc;
  background: transparent;
}
.sys-select-container select::-ms-expand{ display: none; }
.sys-select-container:after{
  position: absolute;
  top: 13px;
  right: 4px;
  z-index: 2;
  border-top: 5px solid #999;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  content: ' ';
}
.sys-dashboard{
  min-width: 1074px;
  padding: 10px 0 10px 15px;
}
.sys-task-list{
  background: #fff;
  overflow: hidden;
  padding-right: 15px;
}
.sys-task-list li{
  float: left;
  padding-right: 15px;
  padding-bottom: 15px;
  width: 33.33%;
}
.sys-task-list .sys-task-container{
  display: block;
  color: #333;
  background: #f7f7f7;
}
.sys-task-container:hover{
  background: #f0f0f0;
}
.sys-task-list .sys-task-container h3{
  padding-left: 15px;
  line-height: 35px;
  font-weight: normal;
  font-size: 12px;
  border-bottom: 1px solid #e6e6e6;
}
.sys-task-list .sys-task-container:hover h3{
  border-bottom: 1px solid #e0e0e0;
}
.sys-task-container .sys-task-detail{
  line-height: 30px;
  min-height: 40px;
  padding: 5px 0 5px 20px;
}
.sys-task-container .sys-task-detail span{
  margin-left: 10px;
}
.sys-product-list{
  margin-right: 30px;
  border: 1px solid #e6e6e6;
}
.sys-product-list h2{
  padding-left: 20px;
  height: 40px;
  line-height: 40px;
  font-weight: normal;
  font-size: 12px;
}
.sys-product-list ul.item-content{
  padding: 16px 5px 0 15px;
}
.sys-product-list ul.item-content li{
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
  width: 25%;
}
.sys-product-list .sys-product-container{
  position: relative;
  display: block;
  padding-left: 80px;
  height: 100px;
  border: 1px solid #e6e6e6;
  color: #333;
}
.sys-product-container:hover{
  background: #f7f7f7;
}
.sys-product-container .sys-product-item-left{
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 98px;
  text-align: center;
  line-height: 98px;
  color: #cfcfcf;
  font-size: 24px;
  background: #f0fbfd;
}
.sys-product-item-left span{
  font-size: 30px;
}
.sys-product-container .sys-product-item-right{
  padding: 12px 20px;
  line-height: 24px;
}
.sys-product-item-right h3{
  height: 28px;
  line-height: 28px;
  font-size: 12px;
}
.postageCalculator .ngCanvas .selected{
  background-color: #fff !important;
}
.postageCalculator .ngHeaderText{
  font-weight: 100;
}
.zrecorddiv{
  width: 100%;
  height: auto;
  padding: 30px 20px 30px 20px;
  border: solid 1px lightgray;
  /*overflow-y: auto;*/
}
.zok{
  position: absolute;
  right: 110px;
  bottom: 45px;
  width: 82px;
  height: 30px;
  padding: 0 10px;
  background: #5bc0de;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  border-radius: 2px;
  border: 1px solid #46b8da;
  cursor: pointer;
}
.zok:hover{
  color: #ffffff;
  background: rgb(0, 193, 224);
  border: 1px solid #269abc;
}
.sys-top-notice{
  position: relative;
  margin-bottom: 20px;
  margin-right: 30px;
  height: 40px;
  overflow: hidden;
}
.sys-top-notice li{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  border: 1px solid #ef606e;
  border-radius: 2px;
  line-height: 40px;
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  transform: rotateX(180deg);
  transition: transform 1s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform;
  background: #fffafa;
}
.sys-top-notice li.active{
  -webkit-transform: rotateX(0);
  -ms-transform: rotateX(0);
  transform: rotateX(0);
}
.sys-top-notice li a{ color: #ef606e; }
.sys-top-notice li span{
  margin-right: 5px;
  font-size: 14px;
}
form[name="createSla"] .col-sm-4,
form[name="updateSla"] .col-sm-4,
form[name="createSla"] .col-sm-6,
form[name="updateSla"] .col-sm-6{
  padding-left: 0;
}
.vpnCalculator .sys-linkage-list li{
  padding: 10px 0px 10px 22px;
}
.vpnCalculator .container-fluid,
.portCalculator .container-fluid{
  text-align: center;
}
.vpnCalculator .ngHeaderScroller,
.postageCalculator .ngHeaderScroller,
.portCalculator .ngHeaderScroller{
  font-weight: 100;
}
.portCalculator .sys-linkage-list li{
  padding: 5px 0px 5px 22px;
}
.postageCalculator .ngCellText{
  line-height: 20px;
  padding: 2px 10px;
}
.updateConfig .control-label{
  text-align: left;
}
.calculator .sys-linkage-list{
  font-size: 12px;
}
.calculator .sys-linkage-list li{
  padding: 3px 0 3px 22px;
}
.calculator .sys-linkage-list li a{
  padding: 0px 0 3px 22px;
}
.calculator .nav-tabs li a{
  padding: 5px 0px !important;
}
.uib-daypicker .btn-default.active, .uib-daypicker .btn-default:active, .open > .dropdown-toggle.btn-default{
  background-color: #00c1e0 !important;
}
#tunnelcalculator .sys-linkage .tab-content{
  height: 210px;
  overflow: auto;
}
.portCalculator .search-linkComponent .nav-link{
  padding: 0px !important;
  font-size: 12px;
}
.portCalculator .search-linkComponent .nav-tabs{
  margin-bottom: 0px !important;
  border-bottom: 0px solid #00c1e0 !important;
}
.portCalculator .search-linkComponent .nav-tabs a{
  height: 30px;
  border-bottom: 1px solid #ddd !important;
  color: #337ab7 !important;
}
.portCalculator .search-linkComponent .active a,
.portCalculator .search-linkComponent .active a:hover{
  border-left: 1px solid #ddd !important;
  border-top: 1px solid #ddd !important;
  border-right: 1px solid #ddd !important;
  border-bottom: 0px solid #ddd !important;
  border-radius: 4px 4px 0px 0px;
  background: none !important;
  color: #555 !important;
}
.portCalculator .search-linkComponent li a:hover{
  background: #eeeeee !important;
  color: #00c1e0 !important;
}
.portCalculator .search-linkComponent .sys-linkage-list li{
  height: 36px;
  padding: 0 10px;
  font-size: 12px;
  text-align: left;
  line-height: 30px;
}
.portCalculator .search-linkComponent .sys-linkage{
  height: 320px;
  overflow: auto;
}
.postageCalculator .sys-cascade-container li{
  text-align: left;
}
.sys-cascade{
  width: 240px;
}
.sys-cascade label{
  margin-bottom: 0;
  width: 100%;
}
.sys-cascade input.form-control{
  width: 100%;
}
.sys-cascade-container{
  padding: 10px 0 5px;
  height: 230px;
  overflow: auto;
}
.sys-cascade-container li{
  height: 30px;
  padding-left: 10px;
  line-height: 30px;
  font-size: 12px;
  cursor: pointer;
}
.sys-cascade-container li:hover{
  color: #fff;
  background: #00c1e0;
}
.datetimepicker-dropdown-bottom-right{
  width: 220px;
}
.autorenew .container-fluid{
  text-align: center;
}
.account-log .top-menu .sys-search-list .control-label select{
  width: 125px;
}
.account-log .top-menu .sys-search-list .value-box select{
  width: 160px;
}
.btn-small, .btn-small:hover{
  background: #00c1e0;
  color: #fff;
  padding: 2px 3px;
  border-radius: 2px;
  cursor: pointer;
}
.calculators .ng-isolate-scope .nav-tabs{
  border-bottom: 1px solid #00c1e0 !important;
  margin-bottom: 20px;
}
.calculators .ng-isolate-scope .nav-tabs li a{
  height: 40px;
  font-size: 14px;
  line-height: 2.6;
  color: #000 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
  padding: 0 20px;
}
.calculators .ng-isolate-scope .nav-tabs .active a{
  border-bottom: 3px solid #00c1e0 !important;
  color: #00c1e0 !important;
}
.calculators .ng-isolate-scope .nav-tabs li a:hover{
  background: none;
}
.calculators .ngHeaderText{
  font-size: 12px;
  font-weight: 100;
}
.calculators .icon-edit{
  display: inline-block;
}
.calculators .linkComponent ul li a{
  padding: 0px !important;
  color: #f00;
}
.calculators .linkComponent .nav-tabs{
  margin-bottom: 0px;
}
.calculator-group{
  height: 50px;
}
.calculator-update-icon{
  cursor: pointer;
}
/*项目负责人*/
.setAccountManager .sys-form-group-left{
  width: 110px;
}
.setAccountManager select{
  width: 260px;
}
.detail-split-line{
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #ccc;
}
/*跨境专线价目表*/
.cross-calculator label{
  padding-right: 0px;
}
.cross-calculator .calculator-group{
  width: 212px;
}
/*字体图标*/
.common-btn .icon-plus{
  margin-right: 2px;
  font-size: 12px;
}
.iconfont{
  font-size: 14px;
}
.icon-sm-close, .icon-search{
  font-weight: bold;
}
.glyphicon-calendar:before{
  content: "\e69c"
}
.glyphicon-remove:before{
  content: "\e6b6";
}
.sys-search-wrapper{
  float: left;
}
@media screen and (max-width: 1410px){
  .sys-search-wrapper{
    padding-top: 15px;
    clear: both;
  }
  .sys-search-wrapper::after{
    display: block;
    content: ' ';
    visibility: hidden;
    clear: both;
  }
}
@media screen and (max-height: 600px){
  .sys-center-dialog{
    top: 0 !important;
    left: 0 !important;
    margin: 30px auto !important;
  }
}
select option[disabled]{
  background: #ccc;
}
.sys-dialog-content .price-details{
  border-collapse: collapse;
}
.sys-dialog-content .price-details,
.sys-dialog-content .price-details tr,
.sys-dialog-content .price-details td{
  border: 1px solid #ccc;
  text-align: center;
  line-height: 16px;
  padding: 10px 0;
}
.sys-dialog-content .price-details thead{
  color: #333;
}
.sys-dialog-content .price-details tr td:nth-child(1),
.sys-dialog-content .price-details tr td:nth-child(2){
  width: 25%;
}
.sys-dialog-content .price-details tr td:nth-child(3){
  width: 15%;
}
form[name='repairOrderForm'] .sys-form-group-left{
  width: 100px;
}
form[name='repairOrderForm'] .sys-form-group-right{
  margin-left: 100px;
}
.linkage-wrapper{
  float: left;
}
.linkage-wrapper .linkage-left{
  width: 100px;
}
.linkage-wrapper .linkage-right-text,
.linkage-wrapper .linkage-right-select{
  width: 160px;
}
/*交换伙伴*/
p.sys-partner-title{
  color: #333;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 5px;
  padding-left: 15px;
}
div.sys-partner-list > div._more{
  margin-top: 10px;
  padding-right: 47px;
  padding-left: 15px;
}
div.sys-partner-list > div._more input{
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.sys-partner-list{
  margin-right: 30px;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;
}
.sys-partner-list ul.item_title{
  font-weight: normal;
  font-size: 0;
  padding: 0 20px;
  position: relative;
}
.sys-partner-list ul.item_title li.cell{
  display: inline-block;
  font-size: 12px;
  color: #333;
  width: 90px;
  line-height: 38px;
  text-align: center;
  cursor: pointer;
}
.sys-partner-list ul.item_title li.cell a{
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #333;
}
.sys-partner-list ul.item_title li.cell.active a{
  color: #00c1e0;
  border-color: #00c1e0;
}
.sys-partner-list ul.item_title li.cell:hover a{
  color: #00c1e0;
}
.sys-partner-list ul.item_title li.line{
  width: 90px;
  height: 2px;
  background: #00c1e0;
  position: absolute;
  left: 20px;
  bottom: 0;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.sys-partner-list ul.item_title li.cell:first-child:hover ~ li.line,
.sys-partner-list ul.item_title li.line-0{
  left: 20px;
}
.sys-partner-list ul.item_title li.cell:nth-child(2):hover ~ li.line,
.sys-partner-list ul.item_title li.line-1{
  left: 110px;
}
.sys-partner-list ul.item_title li.cell:nth-child(3):hover ~ li.line,
.sys-partner-list ul.item_title li.line-2{
  left: 200px;
}
.sys-partner-list ul.item_title li.cell:nth-child(4):hover ~ li.line,
.sys-partner-list ul.item_title li.line-3{
  left: 290px;
}
.sys-partner-list ul.item_title li.cell:nth-child(5):hover ~ li.line,
.sys-partner-list ul.item_title li.line-4{
  left: 380px;
}
.sys-partner-list ul.item_title li.cell:nth-child(6):hover ~ li.line,
.sys-partner-list ul.item_title li.line-5{
  left: 470px;
}
.sys-partner-list ul.item_title li.cell:nth-child(7):hover ~ li.line,
.sys-partner-list ul.item_title li.line-6{
  left: 560px;
}
.sys-partner-list ul.item_title li.cell:nth-child(8):hover ~ li.line,
.sys-partner-list ul.item_title li.line-7{
  left: 650px;
}
.sys-partner-list ul.item_title li.cell:nth-child(9):hover ~ li.line,
.sys-partner-list ul.item_title li.line-8{
  left: 740px;
}
.sys-partner-list ul.item_title li.cell:nth-child(10):hover ~ li.line,
.sys-partner-list ul.item_title li.line-9{
  left: 830px;
}
.sys-partner-list ul.content{
  padding: 16px 5px 5px 15px;
  overflow: hidden;
}
.sys-partner-list ul.sys-product-contnet{
  height: 110px;
}
.sys-partner-list ul.sys-partner-contnet{
  max-height: 270px;
}
.sys-partner-list ul.content li{
  float: left;
  padding-right: 30px;
  width: 33%;
  margin-bottom: 20px;
}
@media screen and (min-width: 1600px){
  .sys-partner-list ul.content li{
    width: 25%;
  }
}
.sys-partner-list ul.sys-product-contnet li{
  width: 290px;
}
.sys-partner-list .sys-product-container{
  position: relative;
  display: block;
  padding-left: 80px;
  height: 74px;
  color: #333;
  border: 1px solid #e6e6e6;
}
.sys-partner-list .sys-partner-container{
  position: relative;
  display: block;
  padding-left: 80px;
  height: 110px;
  color: #333;
  background-color: #f7f7f7;
  -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;
  -webkit-box-shadow: 0 4px 5px #e6e6e6 inset;
  -moz-box-shadow: 0 4px 5px #e6e6e6 inset;
  box-shadow: 0 4px 5px #e6e6e6 inset;
  transition: all .2s ease-in-out;
}
.sys-partner-container:hover{
  background: #f0f0f0;
  cursor: pointer;
}
.sys-partner-container .item-left{
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  text-align: center;
  padding-top: 15px;
}
.sys-partner-container .item-right{
  padding: 12px 18px 5px;
  line-height: 24px;
}
.sys-partner-container .item-right h3{
  font-size: 14px;
}
.sys-partner-container:hover h3.companyNamee{
  color: #00c1e0;
}
.sys-partner-container .item-right p{
  color: #999;
  line-height: 18px;
  height: 38px;
  margin: 10px 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
}
.sys-partner-container .item-right span{
  margin-right: 10px;
}
@media screen and (max-width: 1250px){
  .sys-partner-container .item-right span{
    margin-right: 0;
  }
}
.sys-partner-container .item-right span.btns{
  float: right;
  margin-right: 0;
}
.sys-partner-container .item-right span.btns:hover{
  cursor: pointer;
  color: #3cdbf5fc;
}
.sys-product-details .detailBasic{
  width: 100%;
  height: auto;
  margin-top: 10px;
}
.sys-product-details .detailBasic .basic-left{
  max-width: 140px;
  height: 250px;
  float: left;
  margin: 0 40px 0px 25px;
}
.sys-product-details .detailBasic .basic-left img{
  border: 1px solid #e5e5e5;
  padding: 10px;
  max-width: 100%;
  max-height: 100%;
}
.sys-product-details .detailBasic .basic-right{
  width: 530px;
  float: left;
}
.sys-product-details .detailBasic .basic-right .basic-list{
  width: 100%;
  position: relative;
}
.sys-product-details .detailBasic .basic-right .basic-list > p{
  margin: 0px 0px 8px 0px;
}
.sys-product-details .detailBasic .basic-right .basic-list > div{
  margin-bottom: 8px;
}
.sys-product-details .detailBasic .basic-right .basic-list > h2{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.sys-product-details .detailBasic .basic-right .basic-list span.item-title{
  display: inline-block;
  line-height: 20px;
  min-width: 60px;
  text-align: justify;
  text-align-last: justify;
  margin-right: 5px;
}
.sys-product-details .detailBasic .basic-right .basic-list a{
  color: #00c1e0;
}
.sys-product-details .detailBasic .basic-right .basic-list ul.pompanyProviderType{
  display: inline-block;
  vertical-align: top;
  line-height: 20px;
}
.sys-product-details .detailBasic .basic-right .basic-list ul.pompanyProviderType > li{
  max-width: 465px;
  min-width: 200px;
}
.sys-product-details .detailBasic .basic-right .basic-list ul.pompanyProviderType > li:hover{
  color: #00c1e0;
  cursor: pointer;
}
.sys-product-details .detailBasic .basic-right .basic-list ul.pompanyProviderType > li:not(:last-child){
  line-height: 20px;
  margin-bottom: 0px;
}
.sys-product-details .detailBasic .basic-right .basic-list ul.pompanyProviderType > li > i.iconfont{
  margin-right: 3px;
}
.sys-product-details ul.pompanyProviderType > li i.hasPort{
  font-size: 12px;
  vertical-align: middle;
}
.sys-product-details .detailBasic .basic-right .basic-list ul > li a:hover{
  cursor: pointer;
}
.sys-product-details .detailBasic .basic-right .basic-list .connection{
  display: block;
  margin-left: 60px;
  margin-bottom: 10px;
  margin-top: -3px;
  width: 90px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #00c1e0;
  color: #fff;
  -webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;
}
.sys-product-details .detailBasic .basic-right .basic-list .connection:hover{
  background-color: #31b0d5;
  border-color: #269abc;
  cursor: pointer;
}
.sys-product-details .description,
.sys-product-details .productDescription,
.sys-product-details .qualification{
  border-top: 1px solid #ccc;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 20px;
  padding: 20px;
  padding-bottom: 0;
}
.sys-product-details .description h3,
.sys-product-details .productDescription h3,
.sys-product-details .qualification h3{
  font-size: 14px;
}
.sys-product-details .description pre,
.sys-product-details .productDescription pre,
.sys-product-details .qualification pre{
  white-space: pre-wrap;
}
.sys-product-list ul.item-title{
  font-weight: normal;
  font-size: 0;
  padding: 0 20px;
  position: relative;
}
.sys-product-list ul.item-title li.cell{
  display: inline-block;
  font-size: 12px;
  color: #333;
  width: 90px;
  line-height: 38px;
  text-align: center;
  cursor: pointer;
}
.sys-product-list ul.item-title li.cell a{
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #333;
}
.sys-product-list ul.item-title li.cell.active a{
  color: #00c1e0;
  border-color: #00c1e0;
}
.sys-product-list ul.item-title li.cell:hover a{
  color: #00c1e0;
}
.sys-product-list ul.item-title li.line{
  width: 90px;
  height: 2px;
  background: #00c1e0;
  position: absolute;
  left: 20px;
  bottom: 0;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.sys-product-list ul.item-title li.cell:first-child:hover ~ li.line,
.sys-product-list ul.item-title li.line-0{
  left: 20px;
}
.sys-product-list ul.item-title li.cell:nth-child(2):hover ~ li.line,
.sys-product-list ul.item-title li.line-1{
  left: 110px;
}
.sys-product-list ul.item-title li.cell:nth-child(3):hover ~ li.line,
.sys-product-list ul.item-title li.line-2{
  left: 200px;
}
.sys-product-list ul.item-title li.cell:nth-child(4):hover ~ li.line,
.sys-product-list ul.item-title li.line-3{
  left: 290px;
}
.sys-product-list ul.item-title li.cell:nth-child(5):hover ~ li.line,
.sys-product-list ul.item-title li.line-4{
  left: 380px;
}
.sys-product-list ul.item-title li.cell:nth-child(6):hover ~ li.line,
.sys-product-list ul.item-title li.line-5{
  left: 470px;
}
.sys-product-list ul.item-title li.cell:nth-child(7):hover ~ li.line,
.sys-product-list ul.item-title li.line-6{
  left: 560px;
}
.sys-product-list ul.item-title li.cell:nth-child(8):hover ~ li.line,
.sys-product-list ul.item-title li.line-7{
  left: 650px;
}
.sys-product-list ul.item-title li.cell:nth-child(9):hover ~ li.line,
.sys-product-list ul.item-title li.line-8{
  left: 740px;
}
.sys-product-list ul.item-title li.cell:nth-child(10):hover ~ li.line,
.sys-product-list ul.item-title li.line-9{
  left: 830px;
}
.sys-partner-container .imgBox{
  width: 80px;
  height: 100px;
  padding-left: 10px;
}
.sys-partner-container .imgBox img{
  max-width: 100%;
  max-height: 100%;
}
.clearfix{
  zoom: 1;
}
.clearfix:after/*, .clearfix:before*/{
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#createCompany .sys-dialog-content{
  margin-bottom: 0;
  padding: 20px 15px;
}
#createCompany .sys-form-group-left.w-100{
  width: 100px;
}
#createCompany .sys-form-group-right.m-left-100{
  margin-left: 100px;
}
#createCompany .sys-form-group-left.w-170{
  width: 170px;
}
#createCompany .sys-form-group-right.m-left-150{
  margin-left: 150px;
}
.h-30{
  height: 30px;
}
.p-l-15{
  padding-left: 15px;
}
#createCompany .companyProviderTypeBox{
  padding-left: 15px;
}
#createCompany .companyProviderTypeBox .checkbox-label{
  margin-right: 8px;
}
#createCompany .companyProviderTypeBox input{
  vertical-align: sub;
  margin-right: 3px;
}
#createCompany .imgBox{
  max-width: 140px;
  height: 130px;
  margin-bottom: 20px;
  margin-left: 50px;
}
#createCompany .imgBox img{
  max-width: 100%;
  max-height: 100%;
}
.sys-product-details li.groupItem .locating{
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
}
.sys-product-details li.groupItem ol.portDetail{
  position: absolute;
  border: 1px solid #00c1e0;
  padding: 5px 8px;
  top: -45px;
  left: 10px;
  min-width: 200px;
  min-height: 80px;
  color: #333;
  background: #fff;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all ease-in-out .3s;-moz-transition: all ease-in-out .3s;-ms-transition: all ease-in-out .3s;-o-transition: all ease-in-out .3s;transition: all ease-in-out .3s;
  -webkit-box-shadow: 0 0 5px rgba(0, 193, 224, .6);
  -moz-box-shadow: 0 0 5px rgba(0, 193, 224, .6);
  box-shadow: 0 0 5px rgba(0, 193, 224, .6);
}
.sys-product-details li.groupItem ol.portDetail.hover{
  opacity: 1;
  z-index: 100;
}
.sys-product-details li.groupItem ol.portDetail .triangle{
  font-size: 27px;
  color: #00c1e0;
  background: #fff;
  width: 25px;
  height: 25px;
  line-height: 25px;
  position: absolute;
  left: -20px;
  top: 27px;
}
.inboxLetterCreat .form-select{
  width: 150px!important;
}
.inboxLetterCreat .control-label{
  width: 85px;
  padding-right: 0px;
}
.inboxLetterCreat .input-radio label{
  cursor: pointer;
  margin-right: 15px;
}
.width-260{
  width: 260px!important;
}
.tableData{
  margin-top: 15px;
}
.tableData .table{
  border-top: 1px solid #ddd;
}
.tableData thead tr th,
.tableData tbody tr td,
.tableData tfoot tr td{
  border-right: 1px solid #ddd;
}
.tableData thead tr th:last-child,
.tableData tbody tr td:last-child,
.tableData tfoot tr td:last-child{
  border-right: none;
}
.tableData thead tr{
  height: 40px;
}
.tableData thead tr th{
  border-bottom-width:1px;
}
.tableData tbody tr{
  cursor: pointer;
  height: 40px;
}
.tableData tbody tr:hover{
  background: #F3F3F3;
}
.tableData .seleted{
  background: #c9dde1!important;
}
.tableData input[type='checkbox']{
  display: block;
  float: left;
  margin-right: 15px;
}
.tableData .letter-title{
  display: block;
  float: left;
  line-height: 20px;
}
.tableData .unread-gray{
  color: grey;
}








